* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;

}
.navbar {
    background-color: #2c3e50;
    padding: 10px 40px;
    display: flex;
}
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s

}
.nav-links li a:hover {
    background-color: #34495e;
}