#main-header {
    background-color: #333;
    color: white;
    padding: 20px;
}
.nav-link {
    color: white;
    text-decoration: underline;
    margin: 15px;
}
.nav-link.active {
    color: yellow;
}
h1 {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}
.description {
    color: gray;
    font-style: italic;
}