.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: brown;
    font-size: 14px;
    cursor: pointer;
}
.btn-Primary {
    background-color: #007bff;
}
.btn-Success {
    background-color: #28a745;
}
.btn-Danger {
    background-color: #dc3545;
}