* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    max-width: 900px;
    margin: 0 auto;
    background-color: wheat;

}
#card-container {
    display: flex;
    /* justify-content: space-between; */
}
.card {
    margin: 0 10px;
    height: 200px;
    width: calc((100% - 60px) / 4);
    border-radius: 5px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}