
h2 {
    text-align: center;
    background-color: red;
}
h3 {
    text-align: center;
}
ul {
    width: 600px;
    margin: auto;
}
li {
    display: inline;
    margin-left: 30px;
    border-left: 2px solid black;
    padding: 10px;
}
li a {
    text-decoration: none;
}
.pro{
    display: inline;
}
.profile h6{
    text-align: center;
    font-size: 30px;
    
}
.profile li{
            
}