.box {
    width: 150px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    margin: 30px auto;

}


.solid-border {
    border:3px solid #333 ;  
}


.dashed-border {
    border:3px dashed #666;  
}


.dotted-border {
    border: 3px dotted #999; 
}


.double-border {
    border: 4px double black;  
}


.rounded-border {
    border: 2px solid #333;
    border-radius: 15px;      
}


.circle {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 50px;       
}
