
.nav-link {
    color: #333;
    text-decoration: none;  
    margin-right: 20px;
}

.nav-link:hover {
    text-decoration: underline;   
}


.strikethrough {
    color: #999;
    text-decoration: line-through;   
}


.new-price {
    color: red;            
    font-weight: bold;      
}
