*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;

} 
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

}
h1 { 
    text-align: center ;
    margin-bottom: 30px;
    color: #2c3e50;

}
.blog-post {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
.blog-post h2 {
    color: #2c3e50;
    margin-bottom: 15px;

}
.blog-post p{
    margin: 15px;
   

}
.float-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 8px;

}
.float-image-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}