.gallery {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;

}
.photo {
    width: 300px;
    height: 200px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}