.box-relative {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: aqua;
    top: 20px;
    left: 10px;
}
.parent {
    position: relative;  /* ЗААВАЛ! */
    width: 300px;
    height: 200px;
    background: #ecf0f1;
}

.badge {
    position: absolute;
    top: 1px;
    right: 250px;
    background: red;
    color: white;
    padding: 5px 10px;
}
/* Fixed Header */
.fixed-header {
    position: fixed;
    top:0;
    left: 1;
    width: 100%;
    background: #2c3e50;
    padding: 15px;
    z-index: 1000;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    z-index: 101;  /* overlay-ээс дээр */
}

.fixed-header {
    position: fixed;
    z-index: 1000;  /* Бүгдээс дээр */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    z-index: 101;  /* overlay-ээс дээр */
}

.fixed-header {
    position: fixed;
    z-index: 1000;  /* Бүгдээс дээр */
}
.sticky-header {
    position: sticky;
    top: 0;  /* Дээд хэсэгт хүрээд наалдана */
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



