.box {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: yellow;
    text-align: center;
    border: 2px solid red;
    display: inline-block;
}
.text {
    background-color: aqua;
    border: 2px solid red;
    color: rebeccapurple;
    display: block;

}
ul li {
    display: inline;
    border: 2px dotted tomato;

}
ul li#budaa, ul li#altaa {
    display: none;
}
ul li#Avengers {
    visibility: hidden;
}