.box01 {
    height: 200px;
    width: 300px;
    background-color: blue;
}
.box02 {
    width: 500px;
    height: 300px;
    background-color: blanchedalmond;
}
#box03 {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border: 2px solid black;
    padding: 10px;
}
#box04 {
    height: 200px;
    overflow-y: scroll;
    width: 300px;
    background-color:yellow;
    border: 5px solid blue;
}
.box04 {
    width: 700px;
}