.container {
    min-height: 100vh;
    padding: 40px 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Картыг хэвтээ төвд байрлуулах */

    /* TODO: Картыг босоо төвд байрлуулах */
}

.profile-card {
    background: white;
    border-radius: 20px;
    padding: 40px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Босоо чиглэлд байрлуулах */

    /* TODO: Элементүүдийг хэвтээ төвд байрлуулах */
}

.profile-stats {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: 3 stat-item-ийг тэнцүү зайтай байрлуулах */
}

.stat-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;


    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Босоо чиглэлд байрлуулах */

    /* TODO: Зай 5px */
}

.profile-actions {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    gap: 15px;
    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Товчнуудын хоорондох зай 15px */
}

.social-links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Төвд байрлуулах */

    /* TODO: Зай 20px */

    /* TODO: Wrap хийх */
}
