.section-header {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Босоо чиглэлд байрлуулах */

    /* TODO: Төвлөрүүлэх */

    /* TODO: Зай 15px */
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Wrap хийх */

    /* TODO: Хайрцагуудыг төвлөрүүлэх */

    /* TODO: Зай 30px */
}

.feature-box {
    background: white;
    border-radius: 15px;
    padding: 35px 25px;
    width: calc(33.333% - 20px);
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Босоо чиглэлд байрлуулах */

    /* TODO: Төвлөрүүлэх */

    /* TODO: Зай 15px */
}

.feature-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TODO: Flexbox идэвхжүүлэх */

    /* TODO: Emoji-г хэвтээ төвд байрлуулах */

    /* TODO: Emoji-г босоо төвд байрлуулах */
}
